/* ================================
   DESIGN SYSTEM
================================ */

@import "./base/colors.css";
@import "./base/typography.css";

@import "./components/buttons.css";
@import "./components/icons.css";

@import "./layout/header.css";
@import "./layout/footer.css";

@import "./pages/home.css";

/* ================================
   BASE
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}
