/* ================================
   DESIGN SYSTEM
================================ */

@import "./base/colors.css";
@import "./base/typography.css";

@import "./components/buttons.css";
@import "./components/icons.css";

@import "./layout/header.css";
@import "./layout/footer.css";

@import "./pages/home.css";

/* ================================
   BASE
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

main {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}