/* ================================
   COLORS
================================ */

:root {

    /* Primary */
    --color-primary: #F6F2E7;

    /* Secondary */
    --color-secondary: #557C70;

    /* Box - Secondary à 50% */
    --color-box: rgba(85, 124, 112, 0.5);

    /* Dark */
    --color-dark: #2E2E2E;

    /* Background Dark */
    --color-bg-dark: #000000;

}